# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Build files (Gradle / Maven)
# =========================
build/
target/
out/

.gradle/
!gradle-wrapper.jar

# =========================
# Environment variables
# =========================
.env

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/
.metadata/
bin/

# =========================
# Spring Boot
# =========================
*.pid
*.orig1

# =========================
# Java
# =========================
*.class

# =========================
# Maven wrapper (optional keep)
# =========================
!.mvn/wrapper/maven-wrapper.jar